.CenterSearch{
	margin-left: 40%;
}
html
{
	font-family: 'Open Sans FB';
}
body{
	text-align: center;
	background-color: blue;
	color: white;
}
table{							
 	border:1px solid;			
    padding: 5px;
}
td{
    border: 1px solid lightgray;
    font-size: 1em;
    padding: 5px
}
form
{
	margin-top: 20px;
}
label
{
	font-size: 20px;
}
#txtnome{
	width: 250px;
	border-radius: 8px;
	opacity: 0.6;
}
#txtsenha{
	width: 250px;
	border-radius: 8px;
	opacity: 0.6;
}