html
{
	width: 100%;
	height: 100%;
	font-family: 'Open Sans FB';
}
body{
	text-align: justify;
	background-image: url("../img/knnbg.jpg");
	/*background-repeat: no-repeat;	*/
	background-attachment: fixed;
	background-size: cover;
	color: white;
}
table{							
 	border:1px solid;			
    padding: 5px;
}
td{
    border: 1px solid lightgray;
    font-size: 1em;
    padding: 5px
}
form
{
	margin-top: 20px;
}
label
{
	font-size: 20px;
}
#nha{
	position: relative;
    left: 100%;
    margin-left: -2000px;
}
#b{
	opacity: 0.9;
}
#a{
	margin-top: 15%;
	background-color: rgba(0,0,0,0.5);
	width: 450px;
	padding: 35px;
	display: block;
	border: solid rgb(30,30,30);
}
#txtnome
{
	width: 380px;
	border-radius: 8px;
	background-color: transparent;
	border-color: rgb(20,20,20);
	color: white;
	text-align: center
}
#txtsenha
{
	width: 380px;
	border-radius: 8px;
	background-color: transparent;
	border-color: rgb(20,20,20);
	color: white;
	text-align: center;
}
h1{
	text-align: center;
}
#botao
{
	position: relative;
}